<div class="start-form">

    <div class="form-head">
        <h2>Let's Start</h2>
        <p>
            Fill out the form and we'll get in touch to 
        </p>
        <p>
            get your trial set up.
        </p>
    </div>
    <div class="form-question">

        <p>
            Do you want to make ads that convert?
        </p>
      <div class=" span-input">

        <span>
              <input type="radio" name="ads"> Yes 
          </span>
          <span>
              <input type="radio" name="ads"> No 
            </span>
        

      </div>  
      <p>
        What's your monthly ad budget?
     </p>
     <div class="form-select">
         <select >
             <option>
                 Select
             </option>
         </select>
     </div>
     <div class="start-button">
        <button  (click) = "changeRoute()" >GET STARTED </button>
    </div>
    </div>
  
</div>


