<div class="section-1">
  <div class="Subtraction">
   <img src="../assets/pictures/Subtraction 19.png">
  </div>
    <div class="group">
        <img src="../assets/pictures/Group 350.png">
    </div>
  <div class="ellipse">
    <span class="ellipse-small">
      <img src="../assets/pictures/Ellipse 9.png">
      <img src="../assets/pictures/Ellipse 10.png">
      <img src="../assets/pictures/Ellipse 11.png">

    </span>

    <img src="../assets/pictures/Ellipse 8.png">
  </div>
  <div class="grid">
    <img src="../assets/pictures/Repeat Grid 2.png">
  </div>
  <div class="section-content">

        <div>
          <div class="logo">
            <img src="../assets/pictures/filed-logo-01.png" width="100">
          </div>
          <div class="content-1">
            <p class="para-1"> 
              Book A Demo ToDay and 
            </p>
            <p class="para-1">
              Get two books for <span> free</span>. Why? 
            </p>
          </div>
          <div class="content-2">
            <p class="para-2">
              Because Our AI-Powered Software 
            </p>
            <p class="para-2">
              Will Exceed Your Marketing Goals.
            </p>

          </div>
          <div class="artboard-1"> 
            <img src="../assets/pictures/Artboard 1.png" alt="hey" width="80%">
          </div>

        </div>
    

      <div >
        <app-stattrial></app-stattrial>
        
      </div>
    
  </div>
 
</div>
<div class="section-2">
  <div class="text">Our Offer: Intelligent Automation. Real-time Insights. Unparalleled Results.</div>
  <div class="img">
    <img src="../assets/pictures/Group 393.png">
  </div>
</div>

<div class="section-3">
  <div class="sub-1">
     <p>The <span> Benefits </span>of using Filed</p>
  </div>
  <div class="sub-2">
    <div class="tab-1"> <span> <img src="../assets/pictures/Icon awesome-check.png"></span> Ability to scale using Dexter, our AI-powered marketing genius.</div>
    <div class="tab-1"> <span> <img src="../assets/pictures/Icon awesome-check.png"></span> Client Success Manager who will optimize your Facebook ad <br> campaigns and focus on driving the best possible results for you.</div>
    <div class="tab-1"> <span> <img src="../assets/pictures/Icon awesome-check.png"></span> This is a limited time offer only.</div>
  </div>
</div>

<div class="section-4">
 <div class="sub-section">
  <div class="top">
     <div class="img">
        <img src="../assets/pictures/Icon material-format-quote.png"/>
     </div>
     <div>
      "It surpassed our <br> expectations"
     </div>
  </div>

  <div class="content">
    "Filed has completely surpassed our <br> expectations. I will refer everyone I know. Filed <br> is worth much more than I paid."
  </div>    
  <div class="image">
 
     <p><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"> </p>
     <p> <span>Tania Y. </span> <br> <span> Flexi Content @Hello </span></p>
  </div>
 </div>

 <div class="sub-section">
  <div class="top">
     <div class="img">
        <img src="../assets/pictures/Icon material-format-quote.png"/>
     </div>
     <div>
      "It surpassed our <br> expectations"
     </div>
  </div>

  <div class="content">
    "Filed has completely surpassed our <br> expectations. I will refer everyone I know. Filed <br> is worth much more than I paid."
  </div>    
  <div class="image">
 
     <p><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"> </p>
     <p> <span>Tania Y. </span> <br> <span> Flexi Content @Hello </span></p>
  </div>
 </div>

 <div class="sub-section">
  <div class="top">
     <div class="img">
        <img src="../assets/pictures/Icon material-format-quote.png"/>
     </div>
     <div>
      "It surpassed our <br> expectations"
     </div>
  </div>

  <div class="content">
    "Filed has completely surpassed our <br> expectations. I will refer everyone I know. Filed <br> is worth much more than I paid."
  </div>    
  <div class="image">
 
     <p><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"> </p>
     <p> <span>Tania Y. </span> <br> <span> Flexi Content @Hello </span></p>
  </div>
 </div>
</div>
<div class="section-5">
  <div> 
    Copyright © 2020. All Rights Reserved.
  </div>
  <div class="nav-link">
     <div>
       HOME
     </div>
     <div>
       FEATURE
     </div>
     <div>
       TERMS
     </div>
     <div>
       PRIVACY
     </div>
     <div>
       CONTACT US
     </div>
     <div class="icons">
       <span><img src="../assets/pictures/facebook (1).png"></span>
       <span><img src="../assets/pictures/instagram.png"></span>
       <span><img src="../assets/pictures/twitter.png"></span>
     </div>
  </div>
</div>

